# --- Django
db.sqlite3

# --- Python
__pycache__
*.py[cod]
*$py.class

# --- Development environments
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/*

# --- Code checking & formatting tools

# Prettier

# Tool creates folder node_modules/.cache/prettier/.prettier-caches
# when it's run by a git hook.
node_modules/


# Mypy
.mypy_cache/
