[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"

[packages]
django = "*"

[requires]
python_version = "3.10"
